<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{components/admin_layout :: adminLayout(~{::content})}">
    <content class="px-10">
        <form th:action="@{/admin/karir/create}" th:object="${career}" method="post">
            <!-- title -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Nama</span>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="label-text-alt text-red-600">Error</span>
                </div>
                <input type="text" th:field="*{title}" placeholder="Nama Produk" class="input input-bordered w-full"/>
            </label>
            <!-- deskripsi -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Deskripsi</span>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="label-text-alt text-red-600">Error</span>
                </div>
                <textarea th:field="*{description}" class="textarea textarea-bordered" placeholder="Deskripsi Produk"></textarea>
            </label>
            <!-- open -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Waktu mulai pendaftaran</span>
                    <span th:if="${#fields.hasErrors('startAt')}" th:errors="*{startAt}" class="label-text-alt text-red-600">Error</span>
                </div>
                <input type="date" th:field="*{startAt}" placeholder="Nama Produk" class="input input-bordered w-full"/>
            </label>
            <!-- close -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Waktu tutup pendaftaran</span>
                    <span th:if="${#fields.hasErrors('closeAt')}" th:errors="*{closeAt}" class="label-text-alt text-red-600">Error</span>
                </div>
                <input type="date" th:field="*{closeAt}" placeholder="Nama Produk" class="input input-bordered w-full"/>
            </label>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </content>
</div>
</body>
</html>