<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    
  </head>
  <body>
      <div  th:replace="~{components/layout :: layout(~{::content})}">
        <content >
        <div class="flex flex-col lg:flex-row justify-center items-start lg:p-20 p-2 gap-5">
            <div class="flex flex-col">
                <!-- Search and Filter -->
                <div class="flex flex-col gap-5 rounded-lg mb-5 mt-10">
                    <div class="flex gap-5">
                        <input type="text" placeholder="Type here" class="input input-bordered w-full" />
                        <button class="btn btn-primary">Search</button>
                    </div>
                    <div class="flex items-center gap-5">
                        <div class="flex gap-2">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25" />
                            </svg>
                            <p class="font-semibold">filter</p>
                        </div>
                        <select class="select select-bordered select-sm">
                            <option disabled selected>Small</option>
                            <option>Small Apple</option>
                            <option>Small Orange</option>
                            <option>Small Tomato</option>
                        </select>
                        <!-- Add more filter dropdowns if needed -->
                    </div>
                </div>
    
                <!-- Pagination -->
                <div class="flex justify-center mt-5">
                    <div class="join">
                        <a th:href="@{/admin/blog(page=${currentPage - 1})}" th:if="${currentPage > 1}" class="join-item btn btn-md">Previous</a>
                        <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}" class="join-item">
                            <a th:href="@{/admin/blog(page=${pageNum})}" th:class="${currentPage == pageNum} ? 'btn btn-md btn-active' : 'btn btn-md'" th:text="${pageNum}"></a>
                        </span>
                        <a th:href="@{/admin/blog(page=${currentPage + 1})}" th:if="${currentPage < totalPages}" class="join-item btn btn-md">Next</a>
                    </div>
                </div>
    
                <!-- List of Blog Cards -->
                <div class="grid 2xl:grid-cols-2 grid-cols-1 place-content-center place-items-center gap-10 w-full">
                    <div class="card lg:card-side bg-base-100 shadow-xl lg:h-40 lg:w-96" th:each="blog : ${blogs}">
                        <figure><img class=" object-cover" th:src="${blog.image}" alt="Blog Image" /></figure>
                        <div class="card-body p-2 lg:w-fit">
                            <span class="badge " th:text="${blog.category.title}"></span>
                            <h2 class="card-title text-ellipsis text-nowrap" th:text="${blog.title}">Ice Cream One Scoop</h2>
                            <p class="overflow-y-auto font-light text-sm th:text="${blog.description}"">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum qui numquam soluta odit recusandae autem ipsam sit quae in exercitationem ullam vel inventore, aliquam incidunt veritatis impedit et ex!</p>
                            <div class="card-actions justify-end">
                            <div class="flex gap-2">
                                <a class="btn btn-sm btn-primary mt-5" th:href="@{'/blog/'+ ${blog.id}}">Edit</a>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
                

                <!-- <div class="flex justify-center w-full mt-5">
                    <div class="grid 2xl:grid-cols-4 md:grid-cols-2 place-content-center place-items-center 2xl gap-10 w-full">
                        <div class="card card-compact w-full lg:w-72 lg:h-96 bg-base-100 shadow-xl" th:each="blog : ${blogs}">
                            <figure><img class="h-fit w-fit" th:src="${blog.image}" alt="Blog Image" /></figure>
                            <div class="card-body">
                                <h2 class="card-title" th:text="${blog.title}">Blog Title</h2>
                                <p class="overflow-y-hidden h-5 text-ellipsis" th:text="${blog.description}">Blog desc...</p>
                                <div class="badge badge-neutral" th:text="${blog.category.title}">Category</div>
                                <div class="card-actions justify-end">
                                    <a class="btn btn-sm btn-primary mt-5" th:href="@{'/blog/'+ ${blog.id}}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    -->
            </div>
        </div>
        </content>
      </div>
  </body>
</html>