<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="alert()">
    <script type="module" th:src="@{/node_modules/sweetalert2/dist/sweetalert2.all.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function() {
            const status = /*[[${status}]]*/ null;
            const statusMessage = /*[[${statusMessage}]]*/ "no message";
            const modal = document.getElementById('status_modal');

            if(status != null){
                if(status == true){
                Swal.fire({
                    icon: "success",
                    title: "Success",
                    text: statusMessage,
                    });
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: statusMessage,
                    });
            }
            }
        }
        /*]]>*/
    </script>
</body>
</html>