<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="overflow-x-hidden" th:fragment="layout(content)">
    <!-- loading -->
    <script>
      window.onload = function() {
         hideLoader();
         showContent();
     }
 
     function hideLoader() {
         document.querySelector("#loader").style.display = "none";
     }
 
     function showContent() {
         document.querySelector("#main").style.display = "block";
     }
     </script>
 
     <div rel="preload" id="loader" class=" absolute min-h-screen w-full z-50 flex justify-center items-center" style="background-color: #f9728b">
       <img rel="preload" width="100px" height="100px" th:src="@{/images/gif/tr-load.gif}" alt="" />
     </div>


    <div class="drawer overflow-x-hidden" id="main" style="display: none; ">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
        <div class="drawer-content flex flex-col">
          <!-- Navbar -->
          <div class="w-full h-[100px] navbar bg-latte-900 py-0 z-40 fixed">
            <div class="flex-none lg:hidden">
              <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
              </label>
            </div> 
            <a class="flex lg:justify-start lg:w-[150px] justify-end w-full" href="/">
              <img width="150px" th:src="@{/images/image/logo.png}" alt="">
            </a>
            <ul class="grow justify-center menu menu-lg menu-horizontal rounded-lg hidden lg:flex font-bold">
              <!-- Navbar menu content here -->
              <li><a href="menu">Menu</a></li>
              <li><a href="about">Tentang Kami</a></li>
              <li><a href="blog">Berita Terbaru</a></li>
              <li><a href="contact">Hubungi Kami</a></li>
              </ul>
          </div>
          <!-- Page content here -->
          <th:block th:replace="${content}"/>

          <!-- footer -->
          <footer class="footer p-10 bg-strawberry-900 text-white">
            <nav>
              <h6 class="footer-title">Services</h6> 
              <a class="link link-hover">Branding</a>
              <a class="link link-hover">Design</a>
              <a class="link link-hover">Marketing</a>
              <a class="link link-hover">Advertisement</a>
            </nav> 
            <nav>
              <h6 class="footer-title">Company</h6> 
              <a class="link link-hover">About us</a>
              <a class="link link-hover">Contact</a>
              <a class="link link-hover">Jobs</a>
              <a class="link link-hover">Press kit</a>
            </nav> 
          </footer>
        </div> 
        <div class="drawer-side z-50">
          <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label> 
          <ul class="menu menu-lg p-4 w-80 min-h-full bg-latte-900">
            <!-- Sidebar content here -->
            <li><a href="menu">menu</a></li>
            <li><a href="about">tentang kami</a></li>
            <li><a href="blog">berita terbaru</a></li>
            <li><a href="contact">hubungi kami</a></li>
          </ul>
        </div>
      </div>
</body>
</html>