<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
      <div  th:replace="~{components/layout :: layout(~{::content})}">
        <content>
            <!-- hero -->
          <div class="flex lg:flex-row items-center justify-center  pt-40 gap-20 lg:gap-40 flex-col-reverse bg-strawberry-900">
            <div class="flex flex-col justify-center lg:items-start items-center lg:w-[600px] gap-10 text-black">
              <h1 class="text font-bold text-7xl">Selamat datang di Kedai Ice Cream!</h1>
              <p class="text-wrap text-xl lg:text-left">Nikmati sensasi segar dan lezat dengan berbagai pilihan eskrim premium kami</p>
            </div>
            <div class="">
              <img width="500" height="500" th:src="@{/images/image/hero2.png}" alt="">
            </div>
          </div>
          <img class="w-full absolute" th:src="@{/images/svg/wave-haikei.svg}" alt="">
          <!-- endHero -->

          <!-- promo -->
          <div class="pt-36 lg:pt-96  bg-mocha-900" >
            <div class="flex justify-center mb-28">
              <h2 class="text-3xl font-bold text-white">Lagi ada promo nih ...<span class="text-error text-5xl">!</span></h2>
            </div>
            <div  class="relative flex flex-col lg:flex-row items-center justify-center gap-5 ">
              <div class="indicator  card lg:w-96 w-80 mt-5 h-[500px] bg-white shadow-2xl">
                <figure class="bg-latte-900"><img th:src="@{/images/image/waffle.png}" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title text-3xl">Waffle Cup</h2>
                  <p class="text-xl">Rp 6.000</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
                <span class="indicator-item indicator-top indicator-center badge bg-cherry-900 border-none text-white h-12 font-bold p-5">PROMO BELI 1 GRATIS 1</span>
              </div>
              <div class="relative indicator lg:bottom-16  card lg:w-96 w-80 mt-5 h-[500px] bg-white shadow-2xl ">
                <figure class="bg-latte-900"><img th:src="@{/images/image/cone.png}" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title text-3xl">Cone Ice Cream</h2>
                  <p class="text-xl">Rp 3.000</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
                <span class="indicator-item indicator-top indicator-center badge bg-cherry-900 border-none text-white h-12 font-bold p-5">PROMO BELI 1 GRATIS 1</span>
              </div>
             
              <div class="relative indicator card lg:w-96 w-80 mt-5 h-[500px]  bg-white shadow-2xl ">
                <figure class="bg-latte-900"><img th:src="@{/images/image/soda.png}" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title text-3xl">Soda Float</h2>
                  <p class="text-xl">Rp 6.000</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
                <span class="indicator-item indicator-top indicator-center badge bg-cherry-900 border-none text-white h-12 font-bold p-5">PROMO BELI 1 GRATIS 1</span>
              </div>
            </div>
            <div class="flex justify-center pt-16 ">
              <a class="text-2xl font-bold text-white flex justify-center"  href="menu" >Lihat Produk Selengkapnya...</a>
            </div>
          </div>
          <img class="w-full absolute" th:src="@{/images/svg/wave-haikei2.svg}" alt="">


          <!-- About Section Start -->
        <section id="about"  class="pt-36 lg:pt-96 bg-[#fffbe9] flex flex-col items-center " >
          <div class="lg:w-1/2 flex flex-col items-center px-10 pt-10">
            <h2 class="text-3xl font-bold text-center mb-10">
              <span class="text-chocolate-900">About</span> Kedai Ice Cream
            </h2>
            <div class="w-full flex flex-wrap justify-center">
              <div class="flex justify-center lg:w-1/2 p-4">
                <img
                  src="/images/image/kedai2.jpg"
                  alt="About us"
                  class="  object-contain object-center"
                />
              </div>
              <div class="lg:w-1/2 p-4">
                <h3 class="text-2xl font-bold mb-2 text-chocolate-900">Sejarah Kedai Ice Cream</h3>
                <p class="text-lg mb-4 font-light leading-relaxed text-chocolate-900">
                  Kedai Ice Cream berdiri pada bulan September 2022, pendirinya Ibu Elfi Endah Lestari
                </p>
                <p class="text-lg mb-4 font-light leading-relaxed text-chocolate-900">
                  Dipilih menu ice cream karena ice cream di sukai oleh semua kalangam dari anak kecil
                  sampai orang dewasa, dan semua orang bisa makan es cream enak dengan harga murah dan
                  terjangkau
                </p>
                <h3 class="text-2xl font-bold mb-2 text-chocolate-900">Alamat Toko</h3>
                <p class="text-lg mb-4 font-light leading-relaxed text-chocolate-900">
                  Jl. Kumbang No.33 RT 02 RW 04 Bogor, Babakan Kecamatan Bogor Tengah, Kota Bogor, Provinsi
                  Jawa Barat 16128
                </p>
                <h3 class="text-2xl font-bold mb-2 text-chocolate-900">Kontak Admin</h3>
                <p class="text-lg mb-4 font-light leading-relaxed text-chocolate-900">Ibu Ria 089603378704</p>
                <h3 class="text-2xl font-bold mb-2 text-chocolate-900">Waktu Buka</h3>
                <p class="text-lg mb-4 font-light leading-relaxed text-chocolate-900">Jam 09.00 - 18.00 WIB</p>
              </div>
            </div>
          </div>
        </section>
        <img class="w-full absolute" th:src="@{/images/svg/wave-haikei3.svg}" alt="">
        
        <section id="location" class="pt-36 lg:pt-80 pb-56 flex flex-col items-center mt-10" th:style="'background-image: url(' + @{/images/svg/wafer.svg} + '); background-size: cover; background-repeat: no-repeat;'">
          <div class="bg-[#fffbe9]/70 p-5 w-1/2 flex flex-col items-center rounded-2xl">
            <h2 class="text-3xl font-bold text-center mb-4">
              <span class="text-chocolate-900 bg-">Lokasi</span> Toko
            </h2>
            <p class="text-lg text-center my-4 font-bold leading-relaxed text-chocolate-900">
              Temukan lokasi toko kami dengan mudah! Gunakan peta di bawah ini. Jika Anda butuh bantuan,
              jangan ragu untuk menghubungi kami. Kami siap membantu!
            </p>
          </div>
          <div class="flex justify-center w-full my-10">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247.71660620887312!2d106.80546306073666!3d-6.588890800868832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c59ef4ea52f7%3A0xbea41ba17446fb2c!2sIce%20cream%20waffle%2Fcone!5e0!3m2!1sen!2sid!4v1716306594230!5m2!1sen!2sid"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              class="w-3/4 lg:w-1/2 h-96 object-cover object-center "
            ></iframe>
          </div>
        </section>
        
          
        </content>
      </div>
  </body>
</html>