<!DOCTYPE html>
 <html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{components/admin_layout :: adminLayout(~{::content})}" >
        <content class="px-10">
          <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
          <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet">
          
          <button class="btn btn-primary mb-5 btn-sm">+ Post</button>

          <!-- nama -->
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Nama</span>
              <span class="label-text-alt text-red-600">error</span>
            </div>
            <input type="text" placeholder="Nama Produk" class="input input-bordered w-full" />
          </label>

          <div id="editor">
            <h2>Demo Content</h2>
            <p>Preset build with <code>snow</code> theme, and some common formats.</p>
          </div>

          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Thumbnail</span>
              <span class="label-text-alt text-red-600">error</span>
            </div>
            <div th:replace="~{components/upload_file_input :: uploadFile()}"></div>
          </label>


          
          <script>
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
          
                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction
          
                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [ 'link', 'image', 'video', 'formula' ],          // add's image support
                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],
          
                ['clean']                                         // remove formatting button
            ];
          
          var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
          
            theme: 'snow'
          });
          </script>
        </content>
    </div>
</body>
</html>