<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/output.css}" rel="stylesheet" />
  </head>
  <body>
      <div  th:replace="~{components/layout :: layout(~{::content})}">
        <content >
          <div>
            <section id="about"  class="py-36 lg:pt-56 bg-[#fffbe9] flex flex-col items-center " >
              <div class=" w-[85%] lg:w-full flex flex-col items-center ">
                <h2 class="lg:text-5xl text-2xl font-bold text-center mb-10">
                  <span class="text-chocolate-800">About</span> Kedai Ice Cream
                </h2>
                <div class=" w-full flex flex-wrap justify-center">
                  <div class="flex justify-center lg:w-[500px] h-auto p-4">
                    <img
                      src="/images/image/kedai2.jpg"
                      alt="About us"
                      class="  object-contain object-center"
                    />
                  </div>
                  <div class="lg:w-1/3 w-full p-4">
                    <h3 class="lg:text-5xl text-2xl font-bold mb-2 text-chocolate-800">Sejarah Kedai Ice Cream</h3>
                    <p class=" mb-4 font-light leading-relaxed text-chocolate-800 lg:text-4xl text-lg">
                      Kedai Ice Cream berdiri pada bulan September 2022, pendirinya Ibu Elfi Endah Lestari.
                    </p>
                    <p class=" mb-4 font-light leading-relaxed text-chocolate-800 lg:text-4xl text-lg">
                      Dipilih menu ice cream karena ice cream di sukai oleh semua kalangam dari anak kecil
                      sampai orang dewasa, dan semua orang bisa makan es cream enak dengan harga murah dan
                      terjangkau.
                    </p>
                    <p class=" mb-4 font-light leading-relaxed text-chocolate-800 lg:text-4xl text-lg">
                      <b>Jam Operasional</b> <br> Senin - Minggu : 09:00-17-00 WIB
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </content>
      </div>
  </body>
</html>