<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{components/admin_layout :: adminLayout(~{::content})}">
        <content class="px-10">
            <form method="post" id="menu-form" enctype="multipart/form-data" th:object="${menu}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                <!-- kategori -->
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Kategori</span>
                        <!-- <span class="label-text-alt text-red-600">error</span> -->
                    </div>
                    <select class="select select-bordered w-full" th:field="*{category.id}">
                        <option value="" disabled selected>kategori menu</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
                    </select>
                </label>
                <!-- nama -->
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Nama</span>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="label-text-alt text-red-600"></span>
                    </div>
                    <input type="text" th:field="*{title}" placeholder="Nama Produk" class="input input-bordered w-full"/>
                </label>
                <!-- price -->
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Harga</span>
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="label-text-alt text-red-600"></span>
                    </div>
                    <label class="input input-bordered flex items-center gap-2">
                        RP
                        <input type="number" th:field="*{price}" placeholder="Harga" class="grow"/>
                    </label>
                </label>
                <!-- discount -->
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Discount</span>
                        <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="label-text-alt text-red-600"></span>
                    </div>
                    <label class="input input-bordered flex items-center gap-2">
                        %
                        <input type="number" th:field="*{discount}" placeholder="discount" class="grow"/>
                    </label>
                </label>
                <!-- promo -->
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Promo</span>
                        <span th:if="${#fields.hasErrors('promo')}" th:errors="*{promo}" class="label-text-alt text-red-600"></span>
                    </div>
                    <input type="text" th:field="*{promo}" placeholder="Promo" class="input input-bordered w-full"/>
                </label>
                <!-- deskripsi -->
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Deskripsi</span>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="label-text-alt text-red-600"></span>
                    </div>
                    <textarea class="textarea textarea-bordered" th:field="*{description}" placeholder="Deskripsi Produk"></textarea>
                </label>
                <!-- thumbnail -->
                <label class="form-control w-full mb-5">
                    <div class="label">
                        <span class="label-text">Thumbnail</span>
                        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="label-text-alt text-red-600"></span>
                    </div>
                    <input type="file" name="imageFile" id="imageFile" class="file-input file-input-bordered w-full"/>
                </label>
            </form>
        </content>
    </div>
</body>
</html>