<!DOCTYPE html>
 <html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
    <script>
        let variantCounter = 1;
        let totalVariants = 0;
    
        function addVariantMenu() {
          const variantHTML = `
            <div class="flex justify-center my-2">
              <div class="card w-full bg-base-100 shadow-xl flex border border-solid">
                <div class="card-body">
                  <h2 class="card-title">Varian Menu ${variantCounter}</h2>
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Nama</span>
                      <span class="label-text-alt text-red-600">error</span>
                    </div>
                    <input name="name_varian_${variantCounter}" type="text" placeholder="Nama Produk" class="input input-bordered w-full" />
                  </label>
                  <label class="form-control w-full">
                  <div class="label">
                      <span class="label-text">Harga</span>
                      <span class="label-text-alt text-red-600">error</span>
                    </div>
                    <input type="number" placeholder="Harga" name="price_varian_${variantCounter}" class="input input-bordered w-full" />
                  </label>
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Discount</span>
                      <!-- <span class="label-text-alt text-red-600">error</span> -->
                    </div>
                    <input type="number" placeholder="discount"  name="discount_varian_${variantCounter}" class="input input-bordered w-full" />
                  </label>
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Promo</span>
                      <span class="label-text-alt text-red-600">error</span>
                    </div>
                    <input type="text" placeholder="Promo" name="promo_varian_${variantCounter}" class="input input-bordered w-full" />
                  </label>
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Deskripsi</span>
                      <span class="label-text-alt text-red-600">error</span>
                    </div>
                    <textarea name="description_varian_${variantCounter}" class="textarea textarea-bordered" placeholder="Deskripsi Produk"></textarea>
                  </label>
                  
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Thumbnail</span>
                      <span class="label-text-alt text-red-600">error</span>
                    </div>
                    <input type="file" class="file-input file-input-bordered w-full" />
                  </label>
                  <div class="card-actions justify-end">
                    <button class="btn btn bg-red-600 text-white delete-variant" id="delete-variant-${variantCounter}">hapus</button>
                  </div>
                </div>
              </div>
            </div>
          `;
    
          const variantsContainer = document.getElementById('variants-container');
          const variantDiv = document.createElement('div');
          variantDiv.innerHTML = variantHTML;
    
          const deleteButton = variantDiv.querySelector(`#delete-variant-${variantCounter}`);
          deleteButton.addEventListener('click', () => {
            variantDiv.remove();
            totalVariants--;
            variantCounter = totalVariants + 1;
            updateVariantCounters();
          });
    
          variantsContainer.appendChild(variantDiv);
          totalVariants++;
          variantCounter++;
        }
    
        function updateVariantCounters() {
          const variantTitles = document.querySelectorAll('.card-title');
          let counter = 1;
          variantTitles.forEach(title => {
            title.textContent = `Varian Menu ${counter}`;
            counter++;
          });
        }
      </script>
    
    <div th:replace="~{components/admin_layout :: adminLayout(~{::content})}" >
        <content class="px-10">
          
            <form action="" id="menu-form">
              <div>
                <button class="btn btn-primary" onclick="addVariantMenu()" type="button">Tambah Variasi Menu</button>
                <button class="btn btn-primary">Submit</button>
              </div>
              <!-- kategori -->
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Kategori</span>
                  <!-- <span class="label-text-alt text-red-600">error</span> -->
                </div>
                <select class="select select-bordered w-full ">
                  <option disabled selected>kategori menu</option>
                  <option>ice cream</option>
                  <option>minuman</option>
                </select>
              </label>
              <!-- nama -->
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Nama</span>
                  <!-- <span class="label-text-alt text-red-600">error</span> -->
                </div>
                <input type="text" placeholder="Nama Produk" class="input input-bordered w-full" />
              </label>
              <!-- price -->
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Harga</span>
                  <!-- <span class="label-text-alt text-red-600">error</span> -->
                </div>
                <label class="input input-bordered flex items-center gap-2">
                  RP
                  <input type="number" placeholder="Harga" class="grow" />
                </label>
              </label>
              <!-- discount -->
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Discount</span>
                  <!-- <span class="label-text-alt text-red-600">error</span> -->
                </div>
                <label class="input input-bordered flex items-center gap-2">
                  %
                  <input type="number" placeholder="discount" class="grow" />
                </label>
              </label>
              <!-- promo -->
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Promo</span>
                  <!-- <span class="label-text-alt text-red-600">error</span> -->
                </div>
                <input type="number" placeholder="Promo" class="input input-bordered w-full" />
              </label>
              <!-- deskripsi -->
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text">Deskripsi</span>
                  <!-- <span class="label-text-alt text-red-600">error</span> -->
                </div>
                <textarea class="textarea textarea-bordered" placeholder="Deskripsi Produk"></textarea>
              </label>
              <!-- thumbnail -->
              <label class="form-control w-full mb-5">
                <div class="label">
                    <span class="label-text">Thumbnail</span>
                    <!-- <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="label-text-alt text-red-600"></p> -->
                </div>
                <input type="file" name="imageFile" id="imageFile" class="file-input file-input-bordered w-full" />
            </label>
    
              <h3 class="font-bold text-lg my-2">Variasi Menu</h3>
    
              <!-- variants -->
              <div id="variants-container"></div>
            </form>
        </content>
    </div>

    
</body>
</html>