<!DOCTYPE html>
 <html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{components/admin_layout :: adminLayout(~{::content})}" >
        <content class="px-10">
          <a class="btn btn-primary mb-5" href="menu/create">+ tambah data</a>
          <div class="flex w-full mb-10">
            <div class="join">
              <div class="indicator">
                <button class="btn btn-outline btn-success join-item">Search</button>
              </div>
              <div>
                <div>
                  <input class="input input-bordered join-item w-96 lg:w-[1000px]" placeholder="Search"/>
                </div>
              </div>
              <div class="dropdown dropdown-bottom dropdown-end">
                <div tabindex="0" role="button" class="btn join-item">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25"/>
                </svg>
                <p class="font-semibold">filter</p>
                </div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-5 gap-2 shadow bg-base-100 rounded-box w-64">
                  <li>
                    <select class="select select-bordered ">
                      <option disabled selected>Small</option>
                      <option>Small Apple</option>
                      <option>Small Orange</option>
                      <option>Small Tomato</option>
                    </select>
                  </li>
                  <li>
                    <select class="select select-bordered ">
                      <option disabled selected>Small</option>
                      <option>Small Apple</option>
                      <option>Small Orange</option>
                      <option>Small Tomato</option>
                    </select>
                  </li>
                  <li>
                    <select class="select select-bordered ">
                      <option disabled selected>Small</option>
                      <option>Small Apple</option>
                      <option>Small Orange</option>
                      <option>Small Tomato</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- list menu cards  -->
          <div th:each="menu : ${menus}" class="card lg:card-side bg-base-100 shadow-xl h-96 lg:h-40 my-10 border">
            <figure  th:style="'background-image: url(' + ${menu.image} + '); background-size: cover; background-repeat: no-repeat;'"><img class="h-56 w-full lg:w-80 object-contain backdrop-blur-xl" th:src="${menu.image}" alt="Menu Image" /></figure>
            <div class="card-body p-2 lg:w-fit">
                <h2 class="card-title" th:text="${menu.title}">Menu Title</h2>
                <p class="overflow-y-auto font-light text-sm" th:text="${menu.description}">Menu Description</p>                 
                <div class="rating">
                  <input type="radio" th:name="'rating-' + ${menu.id}" class="hidden" th:checked="${menu.averageRating >= 0}" disabled />
                  <input type="radio" th:name="'rating-' + ${menu.id}" class="mask mask-star-2 bg-orange-400" th:checked="${menu.averageRating >= 1}" disabled />
                  <input type="radio" th:name="'rating-' + ${menu.id}" class="mask mask-star-2 bg-orange-400" th:checked="${menu.averageRating >= 2}" disabled />
                  <input type="radio" th:name="'rating-' + ${menu.id}" class="mask mask-star-2 bg-orange-400" th:checked="${menu.averageRating >= 3}" disabled />
                  <input type="radio" th:name="'rating-' + ${menu.id}" class="mask mask-star-2 bg-orange-400" th:checked="${menu.averageRating >= 4}" disabled />
                  <input type="radio" th:name="'rating-' + ${menu.id}" class="mask mask-star-2 bg-orange-400" th:checked="${menu.averageRating >= 5}" disabled />
                </div>
                <div class="flex justify-between">
                    <div class="flex gap-2 items-center">
                        <h2 class="font-bold line-through" th:text="${'Rp ' + menu.price}">Rp 12.000</h2>
                        <h2 class="font-bold text-red-600" th:if="${menu.discount != null}" th:text="${'Rp ' + (menu.price - (menu.price * menu.discount / 100))}">Rp 6.000</h2>
                        <div class="badge bg-red-600 text-white gap-2" th:if="${menu.discount > 0}" th:text="${'Diskon ' + menu.discount + '%'}">
                            Diskon 50%
                        </div>
                    </div>
                    <div class="card-actions justify-between">
                        <div class="flex gap-2">
                            <a th:href="@{/admin/menu/{id}/review(id=${menu.id})}" class="btn btn-sm btn-outline">Lihat Review</a>
                            <a th:href="@{/admin/menu/{id}/edit(id=${menu.id})}" class="btn btn-sm btn-outline">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
              
              <!-- pagination -->
              <div class="flex justify-center mt-5">
                <div class="join">
                  <button class="join-item btn btn-md">1</button>
                  <button class="join-item btn btn-md btn-active">2</button>
                  <button class="join-item btn btn-md">3</button>
                  <button class="join-item btn btn-md">4</button>
                </div>
              </div>
        </content>
    </div>

    
</body>
</html>