<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/output.css}"  rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
      <div  th:replace="~{components/layout :: layout(~{::content})}">
        <content >
        <!-- banner -->
        <div>
            <img th:src="@{/images/svg/banner-product.svg}" alt="Banner" class="object-cover object-center w-screen h-[800px] shadow-2xl shadow-strawberry-500"/>
        </div>
        <div class="flex justify-center relative bg-vanilla-50 pb-56">
            <div class="absolute bg-cherry-600 w-3/4 lg:w-1/2 h-56 -top-28 rounded-3xl flex items-center justify-center">
                <div class="carousel carousel-end  space-x-20  rounded-box">
                    <div class="carousel-item w-36 h-36 hover:opacity-50">
                      <a href=""><img th:src="@{/images/svg/menu-drink.svg}" class="rounded-box" /></a>
                    </div> 
                    <div class="carousel-item  w-36 h-36 hover:opacity-50">
                        <a href=""><img th:src="@{/images/svg/menu-ice.svg}" class="rounded-box" /></a>
                    </div> 
                    <div class="carousel-item  w-36 h-36 hover:opacity-50">
                        <a href=""><img th:src="@{/images/svg/menu-snacks.svg}" class="rounded-box" /></a>
                    </div>  
                  </div>
            </div>
        </div>
        
        <div class="flex flex-col lg:flex-row justify-center items-center gap-5  bg-vanilla-50">
            <div class="flex flex-col items-center">
                <div class="flex w-3/4 mb-10">
                    <div class="w-full">
                       <div class="">
                          <div class="join w-full">
                             <div class="w-full">
                                <input type="text" id="searchInput" placeholder="Search..." class="input input-bordered join-item w-full  focus:border-black " style="outline: none; outline-offset: 2px;"/>
                             </div>
                             <div class="dropdown dropdown-bottom dropdown-end flex items-center w-24">
                                <div tabindex="0" role="button" class="btn join-item ">
                                   <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="00 24 24">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25" />
                                   </svg>
                                   <p class="font-semibold">filter</p>
                                </div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-5 gap-2 shadow bg-base-100 rounded-box w-80">
                                   <li>
                                      <select id="satuanFilter" class="select select-bordered">
                                         <option value="">Satuan</option>
                                         <!-- Opsi satuan akan diisi secara dinamis -->
                                      </select>
                                   </li>
                                </ul>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>

                <!-- List of menu Cards -->
                <div class="flex justify-center">
                    <div class="grid 2xl:grid-cols-2 grid-cols-1 place-content-center place-items-center gap-16 w-3/4 ">
                        <div class="card lg:card-side lg:h-72 lg:w-full flex items-center bg-vanilla-50" th:each="menu : ${menus}">
                            <figure class="rounded-lg w-96 h-56"  th:style="'background-image: url(' + ${menu.image} + '); background-size: cover; background-repeat: no-repeat;'"><img class="w-full h-full object-cover backdrop-blur-xl" th:src="${menu.image}" alt="menu Image" /></figure>
                            <div class="card-body p-2 lg:w-fit">
                                <div class=" text-white bg-slate-500  rounded-lg p-2 " style="width: 100px; height: 40px; text-align: center;" th:text="${menu.category.title}"></div>
                                <a class="card-title text-ellipsis text-nowrap underline hover:text-black visited:text-violet-500 text-blue-500 "  th:href="@{'/menu/'+ ${menu.id}}" th:text="${menu.title}">Ice Cream One Scoop</a>
                                <p class="overflow-y-auto font-light text-sm th:text="${menu.description}"">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum qui numquam soluta odit recusandae autem ipsam sit quae in exercitationem ullam vel inventore, aliquam incidunt veritatis impedit et ex!</p>
                                <div class="card-actions justify-end">
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
        
            </div>
        </div>
        </content>
      </div>
  </body>
</html>