<!DOCTYPE html>
<html lang="en" class="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{components/admin_layout :: adminLayout(~{::content})}">
    <content class="px-10">
        <form th:action="@{/admin/main}" th:object="${mainData}" method="post" id="menu-form" class="w-1/3">
            <!-- contact_phone -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Nomor Telepon</span>
                </div>
                <input type="text" placeholder="Nomor Telepon" class="input input-bordered w-full"
                       th:field="*{contact_phone}" th:value="${mainData.contact_phone}"/>
            </label>
            <!-- gmap_link -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Link Google Maps</span>
                </div>
                <input type="text" placeholder="Link Google Maps" class="input input-bordered w-full"
                       th:field="*{gmap_link}" th:value="${mainData.gmap_link}"/>
            </label>
            <!-- address -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Alamat</span>
                </div>
                <textarea class="textarea textarea-bordered" placeholder="Alamat"
                          th:field="*{address}" th:text="${mainData.address}"></textarea>
            </label>
            <!-- EMAIL -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <input type="text" placeholder="Email" class="input input-bordered w-full"
                       th:field="*{email}" th:value="${mainData.email}"/>
            </label>
            <!-- instagram_link -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Link Instagram</span>
                </div>
                <input type="text" placeholder="Link Instagram" class="input input-bordered w-full"
                       th:field="*{instagram_link}" th:value="${mainData.instagram_link}"/>
            </label>
            <!-- facebook_link -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Link Facebook</span>
                </div>
                <input type="text" placeholder="Link Facebook" class="input input-bordered w-full"
                       th:field="*{facebook_link}" th:value="${mainData.facebook_link}"/>
            </label>
            <!-- youtube_link -->
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Link YouTube</span>
                </div>
                <input type="text" placeholder="Link YouTube" class="input input-bordered w-full"
                       th:field="*{youtube_link}" th:value="${mainData.youtube_link}"/>
            </label>
            <div>
                <button class="btn btn-primary mt-10">Submit</button>
            </div>
        </form>
    </content>
</div>
</body>
</html> 