<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet" /> 
    <title>Document</title>
</head>
<body>
  <div class="flex justify-center items-center h-full">
    <form method="post">
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title flex justify-center mb-5">Login</h2>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Username</span>
            </div>
            <input name="username"type="text" placeholder="Username" class="input input-bordered w-full max-w-xs " />
          </label>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text ">Password</span>
            </div>
            <input name="password"type="password" placeholder="Password" class="input input-bordered w-full max-w-xs" />
            <div th:class="${error_message != null} ? 'visible' : 'invisible'" class="label">
              <span class="label-text-alt text-red-600" th:text="${error_message}"></span>
            </div>
          </label>
            <button class="btn btn-outline btn-success mt-5">Submit</button>
            <a href="#" class="text-sm text-blue-500 hover:text-blue-700">Doesn't have account?</a>
        </div>
    </div>
    </form>
</div>
</body>
</html>
