<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/output.css}" rel="stylesheet" />
    <title>Document</title>
</head>
<body >
<div class="flex justify-center items-center w-full h-screen">
    <form method="post" th:action="@{/login}" th:object="${user}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="card w-96 bg-base-100 shadow-xl border ">
            <div class="card-body">
                <h2 class="card-title flex justify-center mb-5">Login</h2>
                <div th:if="${session?.error_message}" class="alert alert-error">
                  <div class="flex">
                      <label th:text="${session?.error_message}" class="text-white"></label>
                  </div>
              </div>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Username</span>
                        <span class="label-text-alt text-red-600" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
                    </div>
                    <input th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? input-error : ''" type="text" placeholder="Username" class="input input-bordered w-full max-w-xs" />
                </label>
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text">Password</span>
                        <span class="label-text-alt text-red-600" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
                    </div>
                    <input th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? input-error : ''" type="password" placeholder="Password" class="input input-bordered w-full max-w-xs" />
                </label>
                <button class="btn btn-outline btn-success mt-5">Submit</button>
                <a href="#" class="text-sm text-blue-500 hover:text-blue-700">Doesn't have account?</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>